<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>446924663215-kue172o5hvkvpi0g5nt17hig77gc2c0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446924663215-kue172o5hvkvpi0g5nt17hig77gc2c0f</string>
	<key>API_KEY</key>
	<string>AIzaSyAodGc2gsYm5SKjxD-m2ZOU4WuCJEbQrUk</string>
	<key>GCM_SENDER_ID</key>
	<string>446924663215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mark.faceweb</string>
	<key>PROJECT_ID</key>
	<string>faceweb-fb680</string>
	<key>STORAGE_BUCKET</key>
	<string>faceweb-fb680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:446924663215:ios:8a501b15f7bee1c4</string>
	<key>DATABASE_URL</key>
	<string>https://faceweb-fb680.firebaseio.com</string>
</dict>
</plist>